<html>
	<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
	<style rel="stylesheet" >
		.spacer {
			margin-left: 0px;
		}
		
		body {
			margin: 20px;
		}
		
		a {
			color: #1589ED;
			padding: 5px;
		}
		a:hover {
			border: 3px ridge #1589ED;
			border-radius: 10px;
		}
		
		.playlist {
			position: absolute;
			right: 20px;
			top: 80px;
			height: 50%;
			width: 20%;
			display: none;
			box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
		}	
	</style>
	<script language="Javascript">
		function init() {
			var xhr = new XMLHttpRequest();
			var url = "/getCurrentPlaylist/";
			xhr.onreadystatechange=function() {
				if (xhr.readyState == 4 && xhr.status == 200) {
			        	var pl = JSON.parse(xhr.responseText);
			        	if (pl!=null && pl.track.length > 0) {
				        	document.getElementById('playlist_modal').style.display='inline';
	        	                        document.getElementById('playlist_modal').style.opacity=100;
				        	document.getElementById("playlist_modal_content").innerHTML = JSON.stringify(pl);
				        }
			        }
			}
			xhr.open("GET", url, true);
			xhr.send();
			return true;
		}
		
		function addToPlaylist(input) {
			document.getElementById('playlist_modal').style.display='inline';
			document.getElementById('playlist_modal').style.opacity=100;
			var xhr = new XMLHttpRequest();
			var url = (input.checked?"/addToPlaylist/":"/removeFromPlaylist/")+"?location="+input.value;
			xhr.onreadystatechange=function() {
				if (xhr.readyState == 4 && xhr.status == 200) {
					document.getElementById("playlist_modal_content").innerHTML = xhr.responseText;
			        }
			}
			xhr.open("GET", url, true);
			xhr.send();
			return true;
		}
	</script>
	</head>
	<body onload="init()">	
		<ul class="nav nav-tabs">
			<li role="presentation"><a href="/">Home</a></li>
			<li role="presentation" <% if (media_type == "video") { %> class="active"<% } %>><a href="<% if (media_type != "video") { %>/browse/video/<%} %>"><% if (media_type == "video") { %>Parcours: Videos<% } else { %>Parcourir: Videos<% } %></a></li>
			<li role="presentation" <% if (media_type == "audio") { %> class="active"<% } %>><a href="<% if (media_type != "audio") { %>/browse/audio/<%} %>"><% if (media_type == "audio") { %>Parcours: Musics<% } else { %>Parcourir: Musics<% } %></a></li>
		        <% if (onRoot) { %><li role="presentation"><a href="/browse/">Racine</a></li> <% } %>
			<li role="presentation"><a href="/search/">Recherche</a></li>
		</ul>
		<h1>Bienvenue sur DSKro</h1>
		<% if (media_type == "audio") { %>
			<div>S&eacute;lectionnez les contenus &agrave; ajouter &agrave;  la playlist.</div>
		<% }
		if (dir.length > 1) {%><h3>Voici la liste des <%= dir.length %> contenus:</h3>
		<% } else if (dir.length == 1) { %><h3>Voici l'unique contenu trouv&eacute;:</h3>
		<% }
		for (var i in dir) {
		%>
		<div>
			<% if (dir[i].stats.isDirectory()) { %>
			<span class="glyphicon glyphicon-folder-open"></span>
			<% } else if (media_type == "video") { %>
			<span class="glyphicon glyphicon-film"></span>
			<% } else if (media_type == "audio") { %>
			<input type="checkbox" autocomplete="off" name="playlist_item" value="<%= dir[i].path %>" onclick="addToPlaylist(this);"/>&nbsp;<span class="glyphicon glyphicon-music"></span>
			<% } %>
			<span class="spacer">&nbsp;</span>
			<a href="./<%= (dir[i].path.lastIndexOf("/")>0?dir[i].path.slice(dir[i].path.lastIndexOf("/")+1):dir[i].path) + (dir[i].stats.isDirectory()?"/":"") %>"><%= (dir[i].path.lastIndexOf("/")>0?dir[i].path.slice(dir[i].path.lastIndexOf("/")+1):dir[i].path) %></a>
		</div>
		<%
		}
		if (media_type == "audio") { %>
			<div class="playlist" id="playlist_modal">
				<div style="border-bottom: 1px solid rgb(206, 199, 199); margin: 15px;"><b>Playlist</b></div>
				<div style="margin: 10px" id="playlist_modal_content">Content</div>
			</div>
		<% }
	%>
	</body>
</html>

