<html>
	<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
	<style rel="stylesheet">
		body {
			margin: 20px;
		}
	</style>
	</head>
	<body>
		<ul class="nav nav-tabs">
			<li role="presentation" class="active"><a href="/">Home</a></li>
		        <li role="presentation"><a href="/browse/">Parcourir</a></li>
		        <li role="presentation"><a href="/search/">Recherche</a></li>
		</ul>
		<h1>Bienvenue sur DSKro<h1>
		<h2>Voici la liste des actions possibles</h2>
		<div><a href="/browse/">Parcourir la liste des fichiers pr&eacute;sents sur le disque Vid&eacute;o</a></div>
		<div><a href="/search/">Rechercher un fichier sur le disque Vid&eacute;o</a></div>
	</body>
</html>
